@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item .active {
  color: #fde047;
}

.main-bg {
  background: url(http://www.script-tutorials.com/demos/360/images/stars.png)
    top center #000;
}

.max-width {
  max-width: 100px;
}
